# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/

# Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
coverage.xml
htmlcov/

# Environment and local configuration
.env
!/.env.example

# IDEs and operating systems
.idea/
.vscode/
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# Logs
*.log